@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto");
body {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  .App {
    display: flex;
    // height: 500px;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    .topWrapper {
      display: flex;
    }
    // .bottomWrapper {
    //   width: 900px;
    // }
  }
}
