@import url("https://fonts.googleapis.com/css?family=Pacifico");
.formContainer {
  background: linear-gradient(rgb(216, 195, 6), rgba(237, 150, 55, 0.4)),
    url("../img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  color: white;
  position: relative;
  overflow: hidden;
  .intro {
    text-align: center;
    h1 {
      font-family: "Pacifico", cursive;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      width: 270px;
      input[type="text"],
      input[type="number"],
      select {
        margin: 10px 0;
        padding: 10px 5px;
        width: 100%;
        outline: none;
        border: 1px solid #bbb;
        border-radius: 20px;
        display: inline-block;
        box-sizing: border-box;
      }

      button {
        padding: 15px 50px;
        width: auto;
        background: #1abc9c;
        border: none;
        color: white;
        cursor: pointer;
        display: inline-block;
        border-radius: 20px;
        transition: 0.2s;
        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
        }
      }
    }
    // submit button container width reset
    .submitButton {
      width: auto;
    }
  }
}
